<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app='ShoppingListApp'>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row" >

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyShoppingController as items2Buy' >
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="x in items2Buy.items">Buy {{x.quantity}} {{x.name}}(s) <button class="btn btn-default" ng-click="items2Buy.checkoff($index)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       
     </ul>
     <div  ng-if='items2Buy.isEmpty()'  class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as itemsBought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="x in itemsBought.items">Bought {{x.quantity}} {{x.name}}(s) </li>
     </ul>
     <div ng-if='itemsBought.isEmpty()' class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
